doctype html
head
  title Makers BnB
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css' integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4' crossorigin='anonymous')
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
h1 Welcome to Makers BnB
br
h4 Here is a list of our available properties:
br
ul.list-group
  li.list-group-item
    | Penthouse Oasis on Regent Canal
    br
    |     Contact Details: jblggs@gmail.com
    br
    |     Price: &pound;72 per night
  li.list-group-item
    | Sleep in a Room in Central Apartment
    br
    |     Contact Details: jsmith@gmail.com
    br
    |     Price: 104 per night
  li.list-group-item
    | Stay in a charming Garden Flat in Fulham
    br
    | Contact Details: jpetson@gmail.com
    br
    |   Price: &pound;99 per night
  li.list-group-item
    | Comfy Room by the Thames with Private Bathroom
    br
    | Contact Details: ddoublee@gmail.com
    br
    |   Price: &pound;204 per night
