doctype html
head
  title Makers BnB
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css' integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4' crossorigin='anonymous')
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
h1 Add Your Property
.container-fluid
  form
    .form-group
      label(for='property_title') Property Headline
      input#property_headline.form-control(type='text' placeholder='Beautiful city appartment in Central London')
    .form-group
      label(for='contact') Contact Details
      input#contact_details.form-control(type='text' placeholder='gbstring@gmail.com')
    .form-group
      label(for='price') Price(per night)
      input#princing.form-control(type='text' placeholder='£89')
    button.btn.btn-primary.mb-2(type='submit') Submit
