doctype html
head
  title Makers BnB
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css' integrity='sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4' crossorigin='anonymous')
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
h1 Add Your Property
.container-fluid
  form(method='post' action='/property/new')
    .form-group
      label(for='propertyName') Property Headline
      input#propertyName.form-control(name='propertyName' type='text' placeholder='Beautiful city apartment in Central London')
    .form-group
      label(for='propertyDetails') Contact Details
      input#propertyDetails.form-control(name='propertyDetails' type='text' placeholder='gbstring@gmail.com')
    .form-group
      label(for='propertyPrice') Price(per night)
      input#propertyPrice.form-control(name='propertyPrice' type='text' placeholder='£89')
    button.btn.btn-primary.mb-2(type='submit') Submit
